{% extends 'basic/tools/base.html' %}
{% load static %}

{% block title %}Its a title!{% endblock %}

{% block content %}
    <p class="superbold">fat boi</p>
    <p class="bold">not so fat boi 0</p>
    <p>And this is a paragraph</p>
    <div class="l1">
        <p><a>This is a link!</a></p>
        <s><p>Strikeout... (literally)</p></s>
        <p class="bold">not so fat boi 1</p>
        <p>This is a text box </p> 
        <div class="l2">
            <p>This is a text box, but level 2</p>
            <p class="bold">not so fat boi 2</p>
            <p class="bold">fat boi 2</p>
            <div class="l3">
                <p>This is a text box, but level 3</p>
                <p class="bold">not so fat boi 3</p>
                <p class="superbold">fat boi 3</p>
            </div>
            <div class="l3 ofs-5">
                <p class="bold">This is a text box</p>
                <p class="secret">and its level 5, and also this text is secret!</p>
            </div>
        </div>
        <p class="">0?</p>
        <p class="ofs-1 ">1</p>
        <p class="ofs-2 ">2</p>
        <p class="ofs-3 ">3</p>
        <p class="ofs-4 ">4</p>
        <p class="ofs-5 ">5</p>
        <p class="ofs-6 ">6</p>
        <p class="ofs-7 ">7</p>
        <p class="ofs-8 ">8</p>
        <p class="ofs-9 ">9</p>
        <p class="bold">0?</p>
        <p class="ofs-1 bold">1</p>
        <p class="ofs-2 bold">2</p>
        <p class="ofs-3 bold">3</p>
        <p class="ofs-4 bold">4</p>
        <p class="ofs-5 bold">5</p>
        <p class="ofs-6 bold">6</p>
        <p class="ofs-7 bold">7</p>
        <p class="ofs-8 bold">8</p>
        <p class="ofs-9 bold">9</p>
        <p class="superbold">0?</p>
        <p class="ofs-1 superbold">1</p>
        <p class="ofs-2 superbold">2</p>
        <p class="ofs-3 superbold">3</p>
        <p class="ofs-4 superbold">4</p>
        <p class="ofs-5 superbold">5</p>
        <p class="ofs-6 superbold">6</p>
        <p class="ofs-7 superbold">7</p>
        <p class="ofs-8 superbold">8</p>
        <p class="ofs-9 superbold">9</p>
        <button>Basic button</button>

    </div>
{% endblock %}

