{% extends 'basic/base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
    <p class="bold">This is a title</p>
    <p>And this is a paragraph</p>
    <div class="l1">
        <p>This is a text box </p> 
        <div class="l2">
            <p>This is a text box, but level 2</p>
            <div class="l3">
                <p>This is a text box, but level 3</p>
            </div>
            <div class="l3 ofs-5">
                <p class="bold">This is a text box</p>
                <p class="secret">and its level 5, and also this text is secret!</p>
            </div>
        </div>
        <p class="ofs-1">This is moved to the right, level 1!</p>
        <p class="ofs-2">This is moved to the right, level 2!</p>
        <p class="ofs-3">This is moved to the right, level 3!</p>
        <p class="ofs-4">This is moved to the right, level 4!</p>
        <p class="ofs-5">This is moved to the right, level 5!</p>
        <p class="ofs-6">This is moved to the right, level 6!</p>
        <p class="ofs-7">This is moved to the right, level 7!</p>
        <p class="ofs-8">This is moved to the right, level 8!</p>
        <p class="ofs-9">This is moved to the right, level 9!</p>
    </div>
{% endblock %}

