{% extends 'basic/tools/base.html' %}
{% load static %}

{% block title %}List{% endblock %}

{% block content %}
    <div class="l1">
        <p class="superbold ofs-4">About the project</p>
        <div class="l2">
            <p>The entire point of the project - is to give ability people share anything they want.<br>
            The way you can share it is that each object (some-ones project on this site)<br>
            has an attached URL that leads to a page. By using that link, you can show ANYTHING!</p>
        </div>
    </div>
{% endblock %}

