{% extends 'basic/tools/base.html' %}
{% load static %}

{% block title %}List{% endblock %}

{% block content %}
    <div class="l1">
        <p class="superbold ofs-4">Log in</p>
        <div class="l2">
            <form action="" method="post">
                {% csrf_token %}
                {{ form }}
                <button type="submit">Submit</button>
                <p>Welcome back!</p>
                {% if request.user.is_authenticated %}
                <p>Though, you already registered.</p>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}

